<style>
td{
  width:50px;
  white-space:nowrap;
  overflow:hidden;
  text-align: justify;
  justify-content: center;
  
}
th{
   width:70px;
  white-space:nowrap;
  text-align: justify;
  justify-content: center;
  font-size: 10px;
}
.td1{
	 width:70px;
  white-space:nowrap;
  text-align: justify;
  justify-content: center;
  font-size: 10px;
}

</style>
<h2 style="margin-left: 10%;">Pair: {{ pir }};	Percentage Difference(%)</h2><br>
<table class="tt" border="1px" style="border-collapse: collapse;" id="f-table">
<tr>
{% for i in range(1, m+1)%}
	{% if i == 1 %}
		<th></th>
	{%endif%}
	<th>{{ source[i-1] }}</th>
{% endfor %}
</tr>
{%for j in range(1, n+1)%}
	<tr>
	{% for i in range(1, m+1) %}
		{%if i == 1%}
			<td class="td1">{{s[i]}}({{source[j-1]}})</td>
		{%endif%}
		{% if p1[j-1] == "Undefined" or p2[i-1] == "Undefined" %}
			<td style="background-color: #FF4500;">No data</td>
		{% else %}
			<td>{{'%0.2f'|format(((p2[i-1]/p1[j-1])*100)-100)|float}}</td>
		{%endif%}
	{% endfor %}
	</tr>
{%endfor%}
</table><br><br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
   }
$(document).ready(function() {
	sleep(1000).then(() => {
		const table = document.getElementById('f-table');
		const cells = table.getElementsByTagName('td');
		let txt = ""
		for (const cell of cells) {
			txt = cell.innerText;
			//console.log(text)
			if(txt != "Undefined" && txt != "No data"){
				txt =  parseFloat(txt);
				if(txt < 0){
					//console.log(txt)
					txt = -(txt);
					//console.log(txt)
				}
				if(txt > 10){
					cell.setAttribute("style", "background-color:green;"); 
					$(this).val(txt.toFixed(4));
				}else if(txt >= 5 && txt <= 10){
					cell.setAttribute("style", "background-color: #6B8E23;");
					$(this).val(txt.toFixed(4));
				}else if(txt >= 1 && txt <= 4){
					cell.setAttribute("style", "background-color:#7CFC00;"); 
					$(this).val(txt.toFixed(4));
				}else if(txt < 1){
					cell.setAttribute("style", "background-color:#98FB98;"); 
					$(this).val(txt.toFixed(4));
				}		
			}
		}
	})
});
</script>